$blue: #163ac7;
$red: #e1251b;

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.basic-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  border-radius: 32px;
  justify-content: center;
  cursor: pointer;
}


.following-btn,
.follow-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 24px;
  width: 84px;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  border-radius: 32px;
  justify-content: center;
}

.following-btn {
  background: #163ac70f;
  border: 1px solid #163ac733;
  color: $blue;
}

.follow-btn {
  background: $blue;
  border: 1px solid $blue;
  color: #fefefe;
}
